/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

/* {
    outline: 1px dotted black;
}*/


#stage {
  background:url(../img/space_hd.jpg);
  height: 450px;
  width: 800px;

  overflow: hidden;
  position: relative;

}

#stage h1
{
  color:white;
  
  position:absolute;
  bottom:-170px;
  left:28%;
  margin-left:-178px;
  font-size:210px;
  word-spacing:85px;
 
}
#cookie{
  fill:white;
  position:absolute;
  bottom:10px;

  left:27%;
  
}
#donut{
  fill:white;
  position:absolute;
  bottom:9px;

  left:41%;
}
#loli{
  fill:white;
  position:absolute;
  bottom:23px;

  left:71%;
}


