/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

/* {
    outline: 1px dotted black;
}*/


#stage {
  background:url(../img/space_hd.jpg);
  height: 350px;
  width: 600px;
}

h1
{
  color:white;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size:90px;
 
}

