/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

/* {
    outline: 1px dotted black;
}*/


#stage {
  background:url(../img/space_hd.jpg);
  height: 350px;
  width: 600px;
}
